@import url(./variable.less);
.site-about {
  margin: 20px auto;
  max-width: 300px;
  font-size: 1.6rem;
  color: #666;
  @media (min-width: @screen-xs) {
    max-width: 500px;
  }
  @media (min-width: @screen-sm) {
    max-width: 700px;
  }
  @media (min-width: @screen-md) {
    max-width: 900px;
  }
  h3 {
    color: #333;
  }
}