@import url(./variable.less);


.navbar {
    font-size: 1.2rem;
    a {
        color: #fff;
        text-decoration: none;
        font-weight: 800;
    }
    a:hover {
        color: rgba(255, 255, 255, .8);
    }
    .navbar-brand {
        float: left;
        margin-top: 20px;
        a {
            font-size: 18px;
            line-height: 20px;
            padding: 20px;
        }
    }
    button {
        background-color: transparent;
        border: 0;
        color: #fff;
        font-size: 1.6rem;
        display: none;
        float: right;
        outline: none;
    }
    ul {
        float: right;
        margin-top: 12px;
        li {
            list-style-type: none;
            float: left;
            margin: 8px;
        }
        li>a {
            letter-spacing: 1px;
        }
        li>a.active {
            border-bottom: 1px #fff solid;
            padding-bottom: 4px;
        }
    }
    @media (max-width: @screen-sm) {
        button {
            display: block;
            margin: 16px 16px 0;
        }
        ul {
            clear: both;
            background-color: rgba(19, 19, 19, .5);
            width: 100%;
            text-align: center;
            display: none;
            li {
                clear: both;
                width: 100%;
            }
        }
        ul.showmeun {
            display: block;
        }
    }
}



