.site-content {
    display: flex;
    flex-direction: row;
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.6rem 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    .site-content-main {
        padding: 0.2rem;
        border: 1px #eee solid;
        border-radius: 4px;
        box-shadow: 0 0 6px rgba(3, 3, 3, .5);
        flex: 1;
        .site-content-title {
            font-weight: 800;
            margin: 0;
            padding-bottom: 12px;
            color: #333;
            border-bottom: 3px #ccc solid;
        }
        .site-content-loading {
            text-align: center;
        }
        &.article-list {
            .site-article {
                padding: 18px;
                border-bottom: 1px #eee solid;
                .site-article-title {
                    font-size: 24px;
                    font-weight: 600;
                    display: block;
                    margin: 10px 0;
                    text-decoration: none;
                    color: #333;
                }
                .site-article-meta {
                    font-size: 12px;
                    color: #747f8c;
                    span {
                        margin: 0 10px 0 0;
                    }
                }
                .site-article-content {
                    font-size: 18px;
                    line-height: 1;
                    margin: 12px 0;
                    white-space: normal;
                    color: #777;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
        &.article-detail {
            display: flex;
            flex-direction: column;
            border: 1px #eee solid;
            border-radius: 12px;
            hr {
                margin: 10px 0.2rem;
                border: 1px #ccc solid;
            }
            .site-article {
                .site-article-title {
                    font-size: 0.3rem;
                    width: 100%;
                    margin: 15px auto;
                    text-align: center;
                    color: #333;
                }
                .site-article-meta {
                    font-size: 0.16rem;
                    display: flex;
                    width: 100%;
                    padding: 10px 0;
                    color: #747f8c;
                    border-bottom: 1px #ddd dashed;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    span {
                        margin: 0 10px 0 0;
                    }
                }
                .left {
                    text-align: left;
                }
                .right {
                    text-align: right;
                }
                .site-article-content {
                    font-size: 0.24rem;
                }
            }
            .site-comment-list {
                overflow-y: auto;
                height: 475px;
                border-top: 1px #ccc dashed;
                .site-comment-list-empty {
                    color: #ccc;
                }
                .site-comment-listItem {
                    font-size: 0.20rem;
                    line-height: 0.25rem;
                    display: flex;
                    margin: 0 0.4rem;
                    border-bottom: 1px #ddd solid;
                    flex-wrap: wrap;
                    &:last-child {
                        border-bottom: none;
                    }
                    .site-comment-listItem-avatar {
                        width: 0.6rem;
                        height: 0.6rem;
                        margin: 0.2rem 0.2rem 0.2rem 0;
                        border-radius: 50%;
                    }
                    .site-comment-listItem-info {
                        margin-top: 0.2rem;
                        p {
                            width: 320px;
                            height: 0.4rem;
                            margin: 0;
                        }
                        .meta {
                            font-size: 0.16rem;
                            height: 0.2rem;
                            color: #747f8c;
                            a {
                                cursor: pointer;
                                color: #494949;
                            }
                        }
                    }
                    .newReply {
                        width: 100%;
                        margin: 0.1rem;
                        border-top: 1px #ddd dashed;
                    }
                    &.reply {
                        width: 100%;
                        margin-bottom: 0.2rem;
                        border-top: 1px #ddd solid;
                        .site-comment-listItem-info {
                            width: 3.2rem;
                        }
                    }
                }
            }
            .site-comment-info {
                text-align: center;
                color: #999;
                a:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            .site-comment-editor {
                display: flex;
                margin-top: 20px;
                flex-wrap: wrap;
                align-items: center;
                .site-comment-editor-avatar {
                    width: 60px;
                    height: 60px;
                    margin-right: 20px;
                    border: 1px #ccc solid;
                    border-radius: 50%;
                    flex-grow: 0;
                }
                .site-comment-editor-arrow {
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-right-color: #e5e9ef;
                    &:before {
                        position: relative;
                        top: -9px;
                        right: 7px;
                        display: block;
                        width: 0;
                        height: 0;
                        content: '';
                        border: 9px solid transparent;
                        border-right-color: #f4f5f7;
                    }
                    &.focus {
                        border-right-color: #00a1d6;
                    }
                }
                .site-comment-editor-text {
                    font-size: 0.16rem;
                    line-height: 0.2rem;
                    overflow: auto;
                    color: #555;
                    border: 1px solid #e5e9ef;
                    border-radius: 4px;
                    background-color: #f4f5f7;
                    flex-grow: 1;
                    &:focus {
                        border-color: #00a1d6;
                    }
                }
                .site-comment-editor-button {
                    font-size: 0.15rem;
                    display: block;
                    width: 70px;
                    min-width: 60px;
                    height: 64px;
                    margin-left: 20px;
                    padding: 4px 18px;
                    text-align: center;
                    color: #fff;
                    border: 1px #00a1d6 solid;
                    border-radius: 4px;
                    background-color: #00a1d6;
                    flex-grow: 0;
                    &:active {
                        outline: 0;
                    }
                }
                @media screen and (max-width: 768px) {
                    .site-comment-editor-button {
                        font-size: 0.3rem;
                        width: 100%;
                        height: 56px;
                        margin: 0.2rem 0;
                    }
                }
            }
        }
        &.about {
            font-size: 0.2rem;
            color: #666;
            h3 {
                color: #333;
            }
        }
        &.album-list {
            .warp {
                display: flex;
                max-width: 1200px;
                margin: 0 auto;
                flex-wrap: wrap;
                justify-content: space-around;
                .albumItem {
                    width: 360px;
                    margin: 20px auto;
                    padding: 10px;
                    border: 1px #ccc solid;
                    flex-wrap: wrap;
                    .img-1 {
                        height: 185px;
                        img {
                            width: 100%;
                        }
                    }
                    .img-2 {
                        height: 185px;
                        img {
                            width: 48%;
                            height: 185px;
                            margin-right: 2%;
                        }
                    }
                    .img-4 {
                        height: 185px;
                        img {
                            width: 48%;
                            margin-right: 2%;
                        }
                    }
                    h3 {
                        margin: 0;
                    }
                    p {
                        line-height: 1.5;
                        margin: 0;
                        white-space: normal;
                        word-wrap: break-word;
                        color: #aaa;
                    }
                }
            }
        }
        .site-content-pageNavigation {
            margin-top: 0.2rem;
            text-align: center;
            .site-content-pageNavigation-link {
                font-size: 0.2rem;
                line-height: 30px;
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-right: 0.1rem;
                color: #999;
                border: 1px #ccc solid;
                &:hover {
                    font-weight: 800;
                }
                &.current {
                    pointer-events: none;
                    border: none;
                }
            }
        }
        .site-content-preNextNavigation {
            margin-top: 0.2rem;
            padding: 0.2rem;
            text-align: center;
            border-top: 1px #eee solid;
            .site-content-preNextNavigation-link {
                font-size: 16px;
                display: inline-block;
                margin-right: 0.1rem;
                padding: 0.1rem 0.15rem;
                color: #999;
                border: 1px #ccc solid;
                &:hover {
                    font-weight: 800;
                }
            }
        }
        .return-btn {
            font-size: 0.2rem;
            font-weight: 800;
            float: right;
            color: #747f8c;
        }
    }
    .site-content-aside {
        width: 240px;
        margin-left: 0.2rem;
        padding: 10px;
        border: 1px #eee solid;
        .site-search {
            input {
                width: 160px;
                height: 20px;
                padding: 0 10px;
                border: 1px #eee solid;
                border-radius: 10px;
                &:focus {
                    outline: 0;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        width: auto;
    }
    @media screen and (max-width: 800px) {
        flex-direction: column;
        .site-content-aside {
            width: 97%;
            margin: 0.2rem auto;
        }
    }
}
