.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;
    line-height: 1.2;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px #eee solid;
    background-color: #393c40;
    flex: 1;
    .copyright {
        color: #777;
        a {
            color: #777;
            &:hover {
                color: #fff;
            }
        }
    }
    @media screen and (max-width: 480px) {
        font-size: 0.6rem;
    }
    @media screen and (min-width: 480px) and (max-width: 800px) {
        font-size: 0.4rem;
    }
}
