@media screen and (max-width: 480px) {
    html {
        font-size: 30px;
    }
    body {
        font-size: 14px;
    }
}
@media screen and (min-width: 480px) and (max-width: 800px) {
    html {
        font-size: 50px;
    }
    body {
        font-size: 16px;
    }
}
@media screen and (min-width: 800px) {
    html {
        font-size: 75px;
    }
    body {
        font-size: 18px;
    }
}
